@model ECommerceProject.WEB.Models.UserRegisterVM
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registration Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/fonts/linearicons/style.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<img src="~/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
			<form asp-controller="Login" asp-action="SignUp" method="post">
				<h3>New Account?</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input asp-for="@Model.Name" type="text" class="form-control" placeholder="Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-holder">
					<span class="lnr lnr-map"></span>
					<input asp-for="@Model.Surname" type="text" class="form-control" placeholder="Surname">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input asp-for="@Model.Mail" type="text" class="form-control" placeholder="Mail Address">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-phone-handset"></span>
					<input asp-for="@Model.Username" type="text" class="form-control" placeholder="UserName">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-keyboard"></span>
					<input asp-for="@Model.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
				</div>
				<button type="submit">
					<span>Register</span>
				</button>
			</form>
			<img src="~/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="~/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>